@import '../../global.scss';

.portfolio {
    background-color: $secondaryColor;

    @include mobile {
        overflow: hidden;
    }

    @include tablet {
        overflow: hidden;
    }

    .title {
        padding: 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $backgroundColor;

        h1 {
            color: $mainColor;
        }
    }

    .wrapper {
        display: flex;

        @include mobile {
            flex-direction: column;
            justify-content: center;
        }

        @include tablet {
            flex-direction: column;
            justify-content: center;
        }

        .left {
            height: calc(100vh - 168px);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            flex: 0.5;
            padding-left: 200px;
            position: relative;

            @include mobile {
                padding-left: 0px;
                align-items: center;
                height: 180px;
            }

            @include tablet {
                padding: 30px 0 0 0;
                margin: auto;
                align-items: center;
            }

            .text {
                height: 310px;
                width: 700px;
                display: flex;
                align-items: center;
                flex-direction: column;

                @include mobile {
                    width: 400px;
                    height: 180px;
                    padding-top: 10px;
                }

                h1 {
                    color: $backgroundColor;
                    font-size: 60px;
                    padding-bottom: 20px;

                    @include mobile {
                        font-size: 40px;
                    }

                }

                h2 {
                    color: $backgroundColor;
                    padding-bottom: 20px;

                    @include mobile {
                        font-size: 15px;
                    }
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }

                button {
                    width: 150px;
                    height: 50px;
                    font-size: 20px;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline-width: 0;
                    color: inherit;
                    background-color: $mainColor;
                    border-radius: 10px;
                    font-weight: 500;
                    cursor: pointer;

                    @include mobile {
                        width: 120px;
                        height: 45px;
                        font-size: 18px;
                    }

                }
            }
        }

        .right {
            height: calc(100vh - 168px);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            flex: 0.5;
            position: relative;

            @include mobile {
                align-items: center;
            }

            @include tablet {
                align-items: center;
            }

            .wrapper {
                height: 400px;
                width: 700px;
                padding-top: 250px;
                padding-left: 50px;
                display: flex;
                align-items: center;
                flex-direction: column;

                @include mobile {
                    justify-content: center;
                    padding-top: 0px;
                    padding-left: 0px;
                    width: 340px;
                    height: 270px;
                }

                @include tablet {
                    padding: 0;
                    margin: auto;
                }

                h2 {
                    color: $backgroundColor;
                    padding-bottom: 20px;

                    @include mobile {
                        font-size: 15px;
                        text-align: center
                    }
                }
            }

            a {
                position: absolute;
                bottom: 10px;
                left: 40%;

                @include mobile {
                    bottom: 0px;
                    left: 20%;
                }

                @include tablet {
                    bottom: 0;
                    left: 45%;
                }

                .arrow {
                    width: 100px;
                    height: 100px;
                    color: $mainColor;
                    animation: arrowBlink 2s infinite;

                }

                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }

                }
            }
        }
    }
}