@import '../../global.scss';

.work{
    background-color: #F0F0F0;

    .title{
        padding: 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $backgroundColor;

        h1{
            color: $mainColor;
        }
    }

    .wrapper{
        display: flex;

        @include mobile{    
            flex-direction: column;
            //justify-content: center;    
        }
        
        .left{
            
            height: calc(100vh - 168px);
            display: flex;
            align-items: center;
            flex-direction: column;
            flex: 0.5;
            position: relative;

            @include mobile{
                height: 400px;
            }

            .text{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 230px;
                padding-top: 250px;
                
                @include mobile{
                    padding-top: 0px;
                    height: 250px;
                }

                h1{
                    font-size: 40px;
                    padding-bottom: 20px;

                    @include mobile{
                        text-align: center;
                    }
                }
                h2{
                    font-size: 25px;
                    font-weight: 400;
                    @include mobile{
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
            .fullwrap{
                width: 600px;
                height:200px;
                display: flex;
                align-items: center;
                flex-direction: column;

                @include mobile{
                    padding-top: 0px;
                    height: 100px;
                    width: 340px;
                    padding-left: 10px;
                }

                .buttonwrap{
                    
                    a{
                        text-decoration: none;
                        color: inherit;

                        @include mobile{
                            padding-left: 10px;
                        }
                    }

                    button{
                        width: 200px;
                        height: 60px;
                        font-size: 20px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        border:none;
                        outline-width: 0;
                        color: inherit;
                        background-color: $mainColor;
                        border-radius: 10px;
                        font-weight: 500;
                        cursor: pointer;

                        @include mobile{
                            width: 150px;
                        }
                        
                        .github{
                            font-size: 40px;
                        }
                    }
                }

                .right{
                    height: calc(100vh - 168px);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    flex: 0.5;
                    padding-left: 150px;

                    @include mobile{
                        padding-left: 0px;
                        display: none;
                    }
                    
                    img{
                        height: 80%;
                        @include mobile{
                            display: none;
                        }
                    }
                }
            
            }
        }
    }
}