$mainColor:#CC93D6;
$backgroundColor: black;
$secondaryColor:white;

$width: 640px;

@mixin mobile{
    @media (max-width : #{$width}){
        @content
    }
}

@mixin tablet {
    @media (max-width: #{1800px}){
        @content
    }
}