@import '../../global.scss';

.work {
    background-color: #F0F0F0;
    --transition: all 0.8s ease-out;

    .title {
        padding: 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $backgroundColor;

        h1 {
            color: $mainColor;
        }
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        position: relative;
        overflow: hidden;

        .wrapper {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            opacity: 0;
            transition: var(--transition);

            @include mobile {
                flex-direction: column;
            }

            @include tablet {
                flex-direction: column;
            }

            .left {
                height: calc(100vh - 168px);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                flex: 0.5;
                padding-left: 150px;

                @include tablet {
                    padding: 0;
                    flex: 0.2;
                    margin: auto;
                }

                img {
                    height: 90%;

                    @include mobile {
                        display: none;
                    }

                    @include tablet {
                        display: none;
                    }
                }

                img {
                    .houses {
                        height: 70%;
                        width: 70%;
                    }
                }
            }

            .right {
                height: calc(100vh - 168px);
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 0.5;

                @include mobile {
                    height: 100vh;
                    width: auto;
                }

                @include tablet {
                    height: auto;
                    width: auto;
                    flex: 0.8;
                }

                .text {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 300px;
                    padding-top: 250px;
                    width: 600px;
                    overflow: hidden;

                    @include mobile {
                        padding: 0px;
                        margin: auto;
                        height: auto;
                        height: 200px;
                        width: auto;
                    }

                    @include tablet {
                        padding-top: 0;
                    }

                    h1 {
                        font-size: 40px;
                        padding-bottom: 20px;
                        text-align: center;

                        @include mobile {
                            text-align: center;
                            font-size: 30px;
                        }
                    }

                    h2 {
                        font-size: 25px;
                        font-weight: 400;
                        text-align: center;

                        @include mobile {
                            font-size: 18px;
                            text-align: center;
                            padding: auto;
                        }
                    }
                }

                .fullwrap {
                    width: 600px;
                    height: 200px;
                    display: flex;

                    @include mobile {
                        padding-top: 0px;
                        height: 100px;
                        width: 340px;
                        padding-left: 10px;
                    }

                    .buttonwrap {
                        padding-left: 70px;

                        @include mobile {
                            padding-left: 10px;
                        }

                        a {
                            text-decoration: none;
                            color: inherit;

                            button {
                                width: 200px;
                                height: 60px;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                outline-width: 0;
                                color: inherit;
                                background-color: $mainColor;
                                border-radius: 10px;
                                font-weight: 500;
                                cursor: pointer;

                                @include mobile {
                                    width: 150px;
                                }

                                .github {
                                    font-size: 40px;
                                }
                            }
                        }
                    }

                    .second-btn {
                        padding-left: 200px;

                        @include mobile {
                            padding-left: 10px;
                            margin: auto;
                        }

                        a {
                            text-decoration: none;
                            color: inherit;

                            button {
                                width: 200px;
                                height: 60px;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                outline-width: 0;
                                color: inherit;
                                background-color: $mainColor;
                                border-radius: 10px;
                                font-weight: 500;
                                cursor: pointer;

                                @include mobile {
                                    width: 150px;

                                }

                                .github {
                                    font-size: 40px;
                                }
                            }
                        }

                    }
                }
            }
        }

        .activeSlide {
            opacity: 1;
            transform: translateX(0);
        }

        .lastSlide {
            transform: translateX(-200%);
        }

        .nextSlide {
            transform: translateX(200%);
        }

        .prev,
        .next {
            position: absolute;
            top: 400px;
            transform: translateY(-50%);
            background: var(--clr-grey-5);
            color: var(--clr-white);
            width: 100px;
            height: 100px;
            display: grid;
            place-items: center;
            border-color: transparent;
            font-size: 100px;
            border-radius: var(--radius);
            cursor: pointer;
            transition: var(--transition);
            overflow: hidden;

            @include mobile {
                font-size: 50px;
                height: 75px;
                width: 75px;

            }
        }

        .prev:hover,
        .next:hover {
            background: var(--clr-primary-5);
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }
    }

}